@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*
font-family: 'Poppins', sans-serif;
*/
:root{
    --bgc1: #15213f;
    --bgc2: #17352a;
    --txtc: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: var(--bgc1);
    color: var(--txtc);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    min-height: 125vh;
    background-color: var(--bgc2);
    color: var(--txtc);
    z-index: 100;
}
header .wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.head-contain{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
    .head-contain .img{
        width: 140px;
        height: 140px;
        margin: 0 calc((100% - 140px) / 2);
        margin-top: 50px;
    }
    .head-contain .img img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: #ffffff -1px 1px 2px,
                    #000000 -3px 3px 4px  ;
        animation: spin 5s 1s infinite ease;
    }
    @keyframes spin{
        0%, 100%{
            transform: scale(1);
        }
        40%, 60%{
            transform: rotateY(0deg) scale(.9);
        }
        50%{
            transform: rotateY(180deg) scale(1.1);
        }
    }
    header .wrapper .name{
        color: var(--txtc-1);
        width: calc(100% - 140px);
        width: 100%;
        text-align: center;
    }
        .name h1{
            padding: 0;
            line-height: 40px;
            letter-spacing: 2px;
        }
        .name p{
            padding: 0;
            line-height: 20px;
            letter-spacing: 5px;
        }
.describes{
    text-align: center;
    width: 80%;
    margin: 20px 10%;
}
    .describes p a:any-link{
        color: rgb(255, 217, 92);
        text-decoration: none;
    }
.social{
    width: 90%;
    margin: 100px 5% 30px 5%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.connect{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.social-icon{
    width: 40px;
    height: 40px;
    background-color: #424242;
    border-radius: 50% 0 50% 50%;
    padding: 8px;
    box-shadow: #ffffff 1px 1px 2px,
                #000000 3px 3px 4px  ;
}
.social-icon img{
    width: 24px;
    height: 24px;
}

            #toastblock{
                position: fixed;
                top: 0;
                display: block;
                width: 100%;
                z-index: 200;
            }
            #toastblock p{
                padding: 10px 2% 5px 2%;
                font-weight: 600;
                font-size: small;
                text-align: center;
            }

.fun{
    width: 100%;
}
    #memes-ul{
        width: 100%;
    }
    #memes-ul li{
        width: 98%;
        list-style: none;
        margin: 5px 1%;
    }
        .meme-img{
            width: 100%;
        }
            .meme-img img{
                width: 100%;
            }
            .blur{
                cursor: pointer;
            }
                
    .other-qualities{
        width: 10%;
        height: 120px;
        float: right;
        display: block;
        text-align: right;
    }
        .other-qualities p{
            width: 100%;
            margin: 5px 0;
            height: 15px;
            color: #fff;
            font-size: xx-small;
            background-color: #3732579d;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
        }

    .meme-detail{
        width: 90%;
        min-height: 120px;
        font-size: small;
    }
        .title{
            font-size: x-large;
            display: inline-block;
            font-weight: 600;
            width: 100%;
            color: #ff9595;
        }
        .author{
            color: #33e089;
        }
        .subreddit{
            color: #e0d433;
        }
        .ups{
            color: #82d300;
            background-color: #18181888;
            padding: 0 5px;
            border-radius: 5px;
        }
        .sourece a:any-link{
            font-style: italic;
            font-weight: 400;
            font-size: small;
            background-color: #ffee003a;
            color: #ffffff;
        }

.fabs{
    position: fixed;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: 100%;
    height: 40px;
    display: block;
    z-index: 110;
}
    .fabs p{
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #2e8366d5;
        box-shadow: #ffffff 1px -1px 2px,
                    #000000 3px -3px 4px;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        margin: 0 5px;
        padding: 5px 0;
    }
        .fabs p img{
            height: 30px;
            width: 30px;
        }
    #openConfig{
        margin: 0 5px 0 0;
    }
    #memeLoader{
        float: right;
        margin: 0;
        padding: 0;
        box-shadow: #ffffff -1px -1px 2px,
                    #000000 -3px -3px 4px;
    }
        #memeLoader img{
            height: 40px;
            width: 40px;
            filter: grayscale(100%) brightness(0%);
            animation: spark 3s 1s ease infinite;
        }
        @keyframes spark{
            0%, 6%, 100%{
                transform: rotateY(0deg);
            }
            3%{
                transform: rotateY(180deg);
            }
        }

.meme-config{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bgc2);
    transition: 300ms;
    text-transform: uppercase;
    text-align: center;
    overflow-y: scroll;
    z-index: 110;
}
    .config{
        width: 90%;
        margin: 0 5%;
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
        .config h3{
            color: #e0d433;
            text-decoration: underline;
            margin: 130px 0 20px 0;
        }
        .count, .select-sub, .quality, .nsfw, .loading{
            width: 90%;
            margin: 5px 5%;
        }
        .count p, .select-sub p, .count label p{
            font-size: smaller;
            color: #e47b19;
        }
        .count input{
            margin: 5px 0;
        }
        .count input, .select-sub input{
            width: 90%;
            margin: 0 5%;
            min-height: 30px;
            padding: 0 5px;
        }
        .quality div{
            display: block;
            width: 100%;
            margin: 5px 0;
        }
        .quality p{
            color: #7de71ad2;
            text-decoration: underline;
        }
    .meme-config button{
        cursor: pointer;
        display: block;
        width: 50%;
        height: 30px;
        max-height: 10vh;
        margin: 10px 25%;
        padding: 2px;
        background-color: #4d5669;
        border: 2px solid #f8ea22;
        color: #f8ea22;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: medium;
        transition: 500ms;
    }
    
.free{
    width: 100%;
    min-height: 150px;
    background-color: var(--bgc2);
    padding: 25px 5% 0 5%;
    text-align: center;
    font-size: small;
    z-index: 100;
}


/* queries for wide screens */
@media only screen and (min-width: 860px){

    header{
        width: 40%;
        position: fixed;
        top: 0;
        right: 0;
        min-height: 100vh;
        border-radius: 5px 0 0 5px;
    }
    
    .social{
        width: 100%;
        margin: 40px 0;
    }
       
    .fun{
        width: 60%;
        min-height: 125vh;
        border-right: 2px solid rgba(231, 207, 142, 0.432);
    }
        .fun-contin{
            width: 90%;
            margin: 0 5%;
            padding: 0 10px;
        }
        @media only screen and (min-width: 1020px){
            .fun-contin{
                width: 80%;
                margin: 0 10%;
            }
        }

    .free{
        width: 60%;
        padding: 10px 10% 5px 10%;
    }

    #toastblock{
        width: 40%;
        top: 0;
        left: auto;
        right: 0;
    }
        #toastblock p{
            animation: toast 500ms ease forwards;
        }
        @keyframes toast{
            0%{
                transform: translateX(100vw);
            }
            20%, 80%{
                transform: translateX(0);
            }
            100%{
                transform: translateY(-100vh);
            }
        }
    .fabs{
        width: 40%;
    }
        .fabs p{
            width: calc(100% / 8);
            max-width: 40px;
            margin: 0 1%;
        }
}