@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*
font-family: 'Poppins', sans-serif;
*/
:root{
    --bgc1: #2e416b;
    --bgc2: #26312d;
    --fabbg: #493650;
    --txtc-1: #ffffff;
    --txtc-2: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: var(--bgc1);
    color: var(--txtc-1);
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background-color: var(--bgc2);
    color: var(--txtc-2);
    z-index: 100;
}
header .wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header .wrapper .img img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px 10px 20px 40px;
    border: 5px #ffffff solid;
    border-radius: 50%;
}
header .wrapper .name{
    text-align: left;
    color: var(--txtc-1)
}
#toastblock p{
    position: fixed;
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    font-size: smaller;
    text-align: center;
    animation: toast 3s forwards ease-out;
}
@keyframes toast{
    0%,100%{
        top: -10vh;
        display: none;
    }
    20%,80%{
        top: 0;
    }
    30%,50%{
        filter: hue-rotate(0deg);
    }
    40%{
        filter: hue-rotate(360deg);
    }
}
.fun{
    width: 100%;
    min-height: 100vh;
}
#memes-ul{
    width: 100%;
}
#memes-ul li{
    width: 98%;
    list-style: none;
    margin: 10px 1%;
}
.meme-img{
    width: 100%;
}
.meme-img img{
    width: 100%;
}
.blur{
    filter: blur(20px);
}
.meme-detail{
    width: 100%;
    font-size: smaller;
}
.title{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    color: #ff9595;
}
.author{
    color: #33e089;
}
.subreddit{
    color: #e0d433;
}
.ups{
    color: #e03333;
}
.sourece a:any-link{
    font-style: italic;
    font-weight: 400;
    font-size: smaller;
    background-color: #ffee003a;
    color: #ffffff;
}
.load{
    cursor: pointer;
    display: block;
    background-color: #2e416b;
    border: 2px solid #e0d433;
    color: #e0d433;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: medium;
    width: 100%;
    height: 40px;
    padding: 5px;
    transition: 500ms;
}
.load:focus, .load:hover{
    filter: saturate(10);
    letter-spacing: 15px;
}
.fabs{
    position: fixed;
    bottom: 50px;
    right: 10px;
}
.fabs p{
    cursor: pointer;
    display: block;
    z-index: 100;
    background-color: var(--fabbg);
    box-shadow: #0d0b25 -2px 2px 5px;
    font-size: 25px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}
.meme-config{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bgc2);
    transition: 300ms;
    text-transform: uppercase;
    text-align: center;
    overflow-y: scroll;
}
.config{
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.config h3{
    color: #e0d433;
    text-decoration: underline;
}
.config h3 img{
    display: block;
    width: 50px;
    margin: 0 calc((100% - 50px) / 2);
    margin-top: 20vh;
}
.count, .select-sub, .quality{
    width: 100%;
    margin: 5px 0;
}
.count input{
    margin: 5px 0;
}
.select-sub p, .count label p{
    font-size: 15px;
    color: #ffd000d2;
}
.count input, .select-sub input{
    width: 100%;
}
.quality div{
    display: block;
    width: 100%;
    margin: 5px 0;
}
.quality p{
    color: #ffd000d2;
    text-decoration: underline;
}
.meme-config button{
    display: block;
    width: 100%;
    height: 40px;
    border: 2px black solid;
    position: relative;
    bottom: 0;
    cursor: pointer;
    text-transform: uppercase;
}
/* footer{
    width: 100%;
    height: 100px;
    background-color: var(--bgc2);
    z-index: 100;
} */
@media only screen and (max-width: 640px){
    header .wrapper .img{
        width: 100%;
    }
    header .wrapper .img img{
        margin: 0 calc((100% - 200px) / 2);
        margin-top: 20px;
    }
    header .wrapper .name{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

}